.basePage {
  background: var(--background-blue);
  background: linear-gradient(283deg, var(--background-blue) 0%, var(--background-purple) 95%);
  display: flex;
  flex-flow: column;
  gap: var(--base-component-spacing);
  min-height: 100vh;
  padding: var(--base-component-spacing);
}

.content {
  background-color: var(--component-background-base);
  border-radius: var(--border-radius);
  flex-grow: 1;
  padding: 16px;
  width: 100%;
}