:root {
  /* Text colors */
  --text-color: #ffffff;
  --text-color-dark: #dfdfdf;
  --text-color-darker: #afafaf;

  /* Background / accent colors */
  --background-blue: #3f5efb;
  --background-purple: #472081;
  --background-magenta: #8e2b9b;
  --accent-blue: #3f5efbbf;
  --accent-purple: #472081bf;
  --accent-magenta: #8e2b9bbf;

  /* Component background colors */
  --component-background-base: #0000005f;
  --component-background-lighter: #bbbbff50;
  --component-background-light: #bbbbff40;
  --component-background-normal: #bbbbff30;
  --component-background-dark: #bbbbff20;
  --component-background-darker: #bbbbff10;

  /* Global measurements */
  --border-radius: 16px;
  --base-component-spacing: 6px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--text-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}